<div class="container">
  <div class="row tableDiv">
    <div class="col-md-5">
      <div id="tableContainer" class="tableContainer">
        <h1>Teams</h1>
        <h6>Click on team name to see all bets placed on that team</h6>
        <table class="table table-condensed table-hover scrollTable sortable" id="teams">
          <thead class="fixedHeader">
            <tr>
              <th>Team Name</th>
              <th>Current Odds</th>
              <th>Total Amt Bet</th>
              <th>Total Payout</th>
            </tr>
          </thead>

          <tbody class="team-index scrollContent">
            <%= render "index" %>
          </tbody>
        </table>
      </div>
      <hr />

      <div class="newTeamDiv">

            <%= link_to 'New Team', new_team_path, remote: true, class: "btn btn-success new_team_btn" %><br/ >

      </div>

      <div id="teamModal" class="modal fade">
      </div>

      <br>
    </div>
    <div class="col-md-offset-1 col-md-6">
      <div id="tableContainer" class="tableContainer">
        <h1>Bets</h1>
        <table class="table table-condensed table-hover scrollTable sortable" id="bets">
          <thead class="fixedHeader">
            <tr>
              <th>Bet Date</th>
              <th>Team</th>
              <th>Odds</th>
              <th>Amount Bet</th>
              <th>Payout</th>
            </tr>
          </thead>

          <tbody class="bet-index scrollContent">
            <%= render "bets/index" %>
          </tbody>
        </table>
      </div>
      <hr />

      <div class="newBetDiv">

            <%= link_to 'New Bet', new_bet_path, remote: true, class: "btn btn-success new_bet_btn" %><br/ >

      </div>

      <div id="betModal" class="modal fade">
      </div>

    </div>
  </div>
</div>
