<div class="container">
  <div class="row">
    <h1><%= @team.name %></h1>
    <h4>Current Odds: <%= @team.odds %></h4>  
  </div>
  <div class="row tableDiv">
    <div class="col-md-9">
      <div id="tableContainer" class="tableContainer">
        <table class="table table-condensed table-hover scrollTable sortable" id="bets">
          <thead class="fixedHeader">
            <tr>
              <th>Bet Date</th>
              <th>Team</th>
              <th>Odds</th>
              <th>Amount Bet</th>
              <th>Payout</th>
            </tr>
          </thead>

          <tbody class="bet-index scrollContent">
            <%= render @bets %>
          </tbody>
        </table>
      </div>
      <hr />

      <div class="newBetDiv">

            <%= link_to 'New Bet', new_bet_path, remote: true, class: "btn btn-success new_bet_btn" %><br/ >

      </div>

      <div id="betModal" class="modal fade">
      </div>

    </div>
  </div>
</div>
