  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3><%= "Editing Bet" %></h3>
      </div>
        <%= render 'form' %>
    </div>
  </div>
